name: Upgrader

on:
  workflow_dispatch:
  schedule:
    - cron: "49 22 6 * *"

jobs:
  upgrade:
    uses: browniebroke/github-actions/.github/workflows/poetry-upgrade.yml@a4a8428c6f76ab8848c94c5a649fa809aacf8688 # v1
    secrets:
      gh_pat: ${{ secrets.GH_PAT }}
