name: Upgrader

on:
  workflow_dispatch:
  schedule:
    - cron: "49 22 6 * *"

jobs:
  upgrade:
    uses: browniebroke/github-actions/.github/workflows/poetry-upgrade.yml@a512edd4814b803be6a9b9e1cb0012ad715196db # v1
    secrets:
      gh_pat: ${{ secrets.GH_PAT }}
